/* fix vertical top issue */
.reveal.slide .slides > section,
.reveal.slide .slides > section > section {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  position: absolute !important;
  top: 0 !important;
  align-items: center !important;
  padding: 0;
}
section > h1,
section > h2 {
  position: absolute !important;
  top: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  text-align: center !important;
}
.print-pdf .reveal.slide .slides > section,
.print-pdf .reveal.slide .slides > section > section {
  min-height: 770px !important;
  position: relative !important;
}
/*  fix vertical top issue ends */

.color-pink {
  color: #f05b62 !important;
}

.color-earth-yellow {
  color: #d8ae64 !important;
}

.color-dark-blue {
  color: #2a4758 !important;
}

.color-dark-gray {
  color: #333333 !important;
}

.color-white-tone {
  color: #e4e9e5 !important;
}

.slide-one-container,
.slide-two-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-one-logo-container {
  height: 250px;
  /* width: 250px; */
  text-align: center;
  padding-bottom: 60px;
}

.slide-one-logo-container img {
  height: 100%;
  width: auto;
}

.slide-one-container .text-content {
  /* font-family: sans-serif; */
  /* font-size: 2.2em; */
  line-height: 1.3em;
  padding: 0px 40px;
  margin-top: 60px;
  font-kerning: inherit;
}

.slide-two-container h2 {
  font-family: 'Pacifico', cursive;
  /* font-size: 7em; */
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.slide-three-container,
.slide-four-container,
.slide-full-screen-image,
.slide-six-container,
.slide-block-container {
  display: block;
  width: 100%;
}

.slide-three-container h4,
.slide-four-container h4,
.slide-full-screen-image h4,
.slide-six-container h4,
.slide-block-container h4 {
  text-align: left !important;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 8px 0;
  text-transform: uppercase;
  /* font-family: sans-serif; */
  /* font-size: 1.5em; */
  font-weight: bold;
  display: block;
}

.slide-three-container ol {
  text-align: left;
  padding: 16px;
  /* font-size: 2em; */
  padding-left: 60px;
  margin-top: 60px;
}

.slide-three-container ol li {
  margin-bottom: 15px;
  padding-left: 40px;
  color: #e4e9e5;
}

.slide-four-container ul {
  text-align: left;
  padding: 16px;
  /* font-size: 1.6em; */
}

.slide-four-container ul li {
  margin-bottom: 10px;
}

.slide-four-container .block {
  display: flex;
  margin-top: 60px;
  padding: 0 30px;
}

.slide-five-container {
  position: absolute;
  bottom: 100px;
}

.slide-full-screen-image {
  position: absolute;
  bottom: 60px;
}

.slide-five-container h2,
.slide-full-screen-image h2,
.slide-full-screen-image-- h2 {
  font-family: 'Pacifico', cursive;
  /* font-size: 4em; */
  color: #fff;
}

.slide-five-container p {
  margin-top: 30px;
  /* font-size: 2em; */
  /* font-family: sans-serif; */
  color: #fff;
}

.slide-six-container .block {
  display: flex;
  margin-top: 60px;
  padding: 0 30px;
}

.slide-six-container .block .img-container {
  height: 400px;
  display: flex;
  align-items: center;
  padding-right: 40px;
  border-right: 1px solid gray;
}

.slide-six-container .content-right {
  text-align: left !important;
  padding-left: 40px;
  /* font-family: sans-serif; */
}

.slide-six-container .content-right > div {
  margin-bottom: 30px;
}

.slide-six-container .content-right h2 {
  font-weight: bold;
  border-bottom: 1px solid;
  width: 300px;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.slide-six-container .content-right span.pad-right {
  padding-right: 80px;
}

.slide-seven-text {
  text-align: left;
  font-weight: bold !important;
  /* font-family: sans-serif !important; */
  color: #e4e9e5 !important;
}

.slide-nine-container td {
  font-family: monospace;
}

.slide-nine-container table,
.slide-nine-container th,
.slide-nine-container td,
.slide-nine-container tr {
  border: 2px solid #fff;
  font-size: 0.8em;
}

.yellow-table-head {
  background: #fff6c4;
}

.yellow-table-row {
  background: #ffee96;
}

.slide-ten-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-gdi {
  text-align: left;
}

.slide-gdi p {
  text-align: left;
}

.slide-gdi ul {
  padding-left: 30px;
}

.slide-gdi ul li {
  font-size: 1.2em;
}

.slide-gdi ul li ul li {
  font-size: 1em;
}

.image-text-side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text-side-by-side .left-text {
  margin-right: 40px;
}

.image-text-side-by-side .img-ctn {
  margin-right: 40px;
}

.slide-three-container .bottom-message {
  position: absolute;
  bottom: 60px;
  font-style: italic;
  color: #e4e9e5;
  text-align: center;
  width: 100%;
}

.agenda-container {
  margin-left: 60px !important;
  margin-top: 60px !important;
}

.web-production {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.web-production ul,
.web-production div {
  flex: 1;
}

.text-front-vs-back {
  text-align: right;
}

.only-heading {
  font-size: 0.8em !important;
}

.large-text-on-color {
  font-size: 2em !important;
}

.intro-to-html-text-center h3 {
  text-align: center;
}

.centered-list {
  text-align: center !important;
}

.centered-list li {
  list-style: none;
}

.image-1-2 div {
  display: inline-block;
  width: 47%;
  box-sizing: border-box;
}

.image-1-3 div {
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
}

.image-grid .col-1-3 {
  display: inline-block;
  width: 30%;
  box-sizing: border-box;
}

.image-grid .col-2-3 {
  display: inline-block;
  width: 63%;
  box-sizing: border-box;
}

h4 .sub-text {
  font-size: 0.61em;
}

.block-html-slides li {
  text-align: left;
  font-size: 0.6em !important;
}

.all-aligned-left div,
.all-aligned-left p {
  clear: both;
  display: block;
}

.all-aligned-left ul,
.all-aligned-left li,
.all-aligned-left p {
  text-align: left !important;
}

.all-aligned-left ul {
  float: left;
}

.learning-resources {
  text-align: left !important;
}

.learning-resources ul.nested-ul-parent ul li {
  color: #0097a7;
  font-weight: bold;
}

.footer {
  position: absolute;
  width: 105%;
  height: 200px;
  left: -28px;
  background: #f05b62;
  bottom: -13px;
}

.footer div {
  max-width: 400px;
  margin: 0 auto;
}

strong {
  font-weight: 700 !important;
}

/* Large desktop */
@media (min-width: 1200px) {
  .slide-three-container ol li,
  .slide-four-container ul li {
    font-size: 1.22em;
  }
  .slide-six-container .content-right h2 {
    font-size: 0.9em;
  }
  .slide-six-container .content-right p {
    font-size: 0.81em;
  }
  .slide-six-container .content-right-small h2 {
    font-weight: bold;
    font-size: 0.7em;
  }
  .slide-six-container .content-right-small p,
  .slide-six-container .content-right-small li {
    font-size: 0.6em;
  }
  .slide-six-container .content-right-small li ul li {
    font-size: 1em;
  }
  .learning-resources ul li {
    font-size: 0.7em;
  }
  .large-text-on-color {
    font-size: 3em !important;
  }
  .slide-gdi ul li {
    font-size: 1em;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1200px) {
  .slide-three-container ol li,
  .slide-four-container ul li {
    font-size: 1em;
  }
  .slide-six-container .content-right h2 {
    font-size: 0.8em;
  }
  .slide-six-container .content-right p {
    font-size: 0.7em;
  }

  .slide-six-container .content-right-small h2 {
    font-weight: bold;
    font-size: 0.7em;
  }
  .slide-six-container .content-right-small p,
  .slide-six-container .content-right-small li {
    font-size: 0.5em;
  }
  .slide-six-container .content-right-small li ul li {
    font-size: 1em;
  }
  .slide-three-container ol li,
  .slide-four-container ul li {
    font-size: 0.9em;
  }
  .learning-resources ul li {
    font-size: 0.7em;
  }
  .slide-gdi ul li {
    font-size: 0.81em;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .slide-one-container .text-content {
    /* font-family: sans-serif; */
    font-size: 0.8em !important;
    line-height: 1.3em;
    padding: 0px 40px;
    margin-top: 25px;
    font-kerning: inherit;
  }
  .slide-six-container .content-right h2 {
    font-size: 0.6em;
  }
  .slide-six-container .content-right p {
    font-size: 0.4em;
  }
  .slide-six-container .content-right-small h2 {
    font-weight: bold;
    font-size: 0.5em;
  }
  .slide-six-container .content-right-small p,
  .slide-six-container .content-right-small li {
    font-size: 0.3em;
  }
  .slide-six-container .content-right-small li ul li {
    font-size: 1em;
  }
  .slide-three-container ol li,
  .slide-four-container ul li {
    font-size: 0.8em;
  }
  .learning-resources ul li {
    font-size: 0.7em;
  }
  .slide-gdi ul li {
    font-size: 0.6em;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .slide-one-container .text-content {
    /* font-family: sans-serif; */
    font-size: 0.5em !important;
    line-height: 1.3em;
    padding: 0px 40px;
    margin-top: 25px;
    font-kerning: inherit;
  }
  .slide-two-container h2 {
    /* font-size: 5em; */
  }
  .slide-gdi ul li {
    font-size: 0.5em !important;
  }
  .slide-gdi ul li ul li {
    font-size: 0.9em !important;
  }
  .bottom-message {
    bottom: 10px;
    font-size: 0.3em !important;
  }
}

li.nested-li-font-size {
  font-size: 0.9em !important;
}

.intro-to-html-duration h3,
.intro-to-html-duration h4 {
  border: none;
  color: #fff;
  text-align: center !important;
}

.web-production ul li {
  font-size: 0.7em !important;
}

.small-text-list {
  text-align: left !important;
  font-size: 0.6em !important;
}

.content-right-small ul {
  display: block;
}

li a {
  color: #e85c64 !important;
  font-size: 1em !important;
}

a {
  color: #e85c64 !important;
  font-size: 1em !important;
}
